body{
    max-width: 680px;
    margin: 0 auto;
    padding: 2rem;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.65rem;
}

article{
    border-top: solid 1px #ddd;
    padding: 1rem 0;
}
.button{
    display: block;
    padding: .5rem 1rem;
    width: fit-content;
    background-color: blueviolet;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 16px;
    font-weight: bold
    ;
}
